In [2]:
import pandas as pd

In [6]:
github_url = "https://raw.githubusercontent.com/06Cata/Analyzing_SF_Salaries/main/Salaries.csv"

salary = pd.read_csv(github_url)

salary.head()

C:\Users\catal\AppData\Local\Temp\ipykernel_19272\2570337466.py:3: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salary = pd.read_csv(github_url)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [9]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [11]:
# int float 不能同時存在，要轉換 pd.to_numeric() 類型
salary['BasePay'] = pd.to_numeric(salary['BasePay'], errors='coerce').astype(float)

salary['BasePay'].mean()

66325.4488404877

In [13]:
salary['OvertimePay'] = pd.to_numeric(salary['OvertimePay'], errors='coerce').astype(float)

salary['OvertimePay'].max()

245131.88

In [19]:
salary[salary['EmployeeName']== 'JOSEPH DRISCOLL'][['JobTitle', 'BasePay','TotalPayBenefits']]

                     JobTitle    BasePay  TotalPayBenefits
24  CAPTAIN, FIRE SUPPRESSION  140546.86         270324.91

In [20]:
salary['TotalPayBenefits'] = pd.to_numeric(salary['TotalPayBenefits'], errors='coerce').astype(float)

salary['TotalPayBenefits'].max()

567595.43

In [22]:
salary[salary['TotalPayBenefits'] == salary['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [24]:
salary[salary['TotalPayBenefits'] == salary['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [39]:
salary.loc[salary['TotalPayBenefits'].idxmax()]         # <> idxmin()

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [41]:
salary['TotalPayBenefits'] = pd.to_numeric(salary['TotalPayBenefits'], errors='coerce').astype(float)
salary['Year'] = pd.to_numeric(salary['Year'], errors='coerce').astype(int)

average = salary.groupby('Year')['TotalPayBenefits'].mean()
print(average)

Year
2011     71744.103871
2012    100553.229232
2013    101440.519714
2014    100250.918884
Name: TotalPayBenefits, dtype: float64

In [43]:
numeric_columns = ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits']
salary[numeric_columns] = salary[numeric_columns].apply(pd.to_numeric, errors='coerce').astype(float)

average_numeric_values = salary[numeric_columns].mean()
print(average_numeric_values)

BasePay             66325.448840
OvertimePay          5066.059886
OtherPay             3648.767297
Benefits            25007.893151
TotalPay            74768.321972
TotalPayBenefits    93692.554811
dtype: float64

In [49]:
print(salary['JobTitle'].nunique())
print()
print(salary['JobTitle'].unique())

2159

['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'
 'CAPTAIN III (POLICE DEPARTMENT)' 'WIRE ROPE CABLE MAINTENANCE MECHANIC'
 ... 'Conversion' 'Cashier 3' 'Not provided']

In [50]:
salary['JobTitle'].value_counts().head(10)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: count, dtype: int64

In [56]:
salary[salary['Year']==2013]['JobTitle'].value_counts() == 1

JobTitle
Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
                                  ...
Sr General Utility Mechanic        True
Sprv Adult Prob Ofc (SFERS)        True
Mayoral Staff XII                  True
Pr Investigator, Tax Collector     True
Senior Assessment Clerk            True
Name: count, Length: 1051, dtype: bool

In [57]:
result = salary[salary['Year'] == 2013]['JobTitle'].value_counts() == 1
print(result[result])

# <>
# false_results = result[~result]
# print(false_results)

JobTitle
Laboratory Technician I           True
Sctry, Juv Probation Comm         True
Drug Court Coordinator            True
IS Operator-Journey               True
Court Asst., Superior Court       True
                                  ...
Sr General Utility Mechanic       True
Sprv Adult Prob Ofc (SFERS)       True
Mayoral Staff XII                 True
Pr Investigator, Tax Collector    True
Senior Assessment Clerk           True
Name: count, Length: 202, dtype: bool

In [55]:
sum(salary[salary['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [59]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [60]:
salary['JobTitle'].apply(lambda x: chief_string(x))

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [61]:
sum(salary['JobTitle'].apply(lambda x: chief_string(x)))

477

In [63]:
salary['title_len'] = salary['JobTitle'].apply(len)

In [64]:
salary[['JobTitle', 'title_len']]

                                              JobTitle  title_len
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                      CAPTAIN III (POLICE DEPARTMENT)         31
2                      CAPTAIN III (POLICE DEPARTMENT)         31
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                ...        ...
148649                                       Custodian          9
148650                                    Not provided         12
148651                                    Not provided         12
148652                                    Not provided         12
148653                      Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [65]:
# corr 計算關聯性
salary[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000